<img src="{{user.avatar}}" class="w-100 rounded-circle mb-3"/>

<p>
  {{user.name}}<br>
  <a href="/{{user.username}}">@{{user.username}}</a>
</p>

<p>
  {{user.bio}}
</p>

<form action="/logout" method="post">
  <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
</form>
